In [8]:
library(rminer)
library(lubridate)
library(rjson)

In [2]:
df = read.csv("../data/store.csv", header = TRUE, sep=";")

In [3]:
df$all <- round(df$all, 0)
df$female <- round(df$female, 0)
df$adult <- round(df$adult, 0)

df$all <- sapply(df$all, as.integer)
df$female <- sapply(df$female, as.integer)
df$adult <- sapply(df$adult, as.integer)

In [4]:
df$weather[df$weather=="Rain"]<-0
df$weather[df$weather=="Sunny"]<-1
df$weather <- sapply(df$weather, as.integer)

#define Min-Max normalization function
#min_max_norm <- function(x) {
#    (x - min(x)) / (max(x) - min(x))
#}
#apply Min-Max normalization to first four columns in iris dataset
#df[8:10] <- as.data.frame(lapply(df[8:10], min_max_norm))

df$date <- as.Date(df$date, format="%Y-%m-%d")
df$day <- wday(df$date, week_start=1)
df$day <- sapply(df$day, as.integer)
#df$date <- NULL

In [5]:
write.csv(df,file='../data/sanitizedData.csv', row.names=TRUE)

In [6]:
df = read.csv("../data/sanitizedData.csv", header = TRUE, sep=",")

In [7]:
head(df)

  X date       all  female male young adult weather maxtemp RH maxwind day
1 1 2013-04-09 2332 1115   1108 1122  1210  0       13      87  0      2
2 2 2013-04-10 2801 1217   1459 1239  1562  0       14      94 45      3
3 3 2013-04-11 2375 1168   1099 1059  1316  0       14      82 55      4
4 4 2013-04-12 3447 1617   1651 1606  1841  1       13      78  0      5
5 5 2013-04-13 4823 2469   2117 2318  2505  0       16      81 37      6
6 6 2013-04-14 4978 2564   2223 2289  2689  0       16      73  0      7