In [1]:
source("../models/hill.R")
set.seed(125)

In [2]:
df = read.csv("../../data/store.csv", header = TRUE, sep=";")
days = weekdays(as.Date(df[251:257,1]))
all = df[251:257,2]
female = df[251:257,3]
male = df[251:257,4]
young = df[251:257,5]
adult = df[251:257,6]

In [3]:
tail(df,7)

    date       all  female male young adult weather maxtemp RH maxwind
251 2013-12-15 4974 2299   2390 2680  2294  Sunny   11      83 35
252 2013-12-16 3228 1442   1606 1625  1603  Sunny   10      87 32
253 2013-12-17 3191 1427   1627 1688  1503  Rain    11      90 24
254 2013-12-18 4153 2035   1880 2208  1945  Rain    10      93  0
255 2013-12-19 4307 2043   2028 2282  2025  Rain    12      86 74
256 2013-12-20 4660 2207   2227 2441  2219  Sunny    9      69  0
257 2013-12-21 6193 2894   2967 3115  3078  Sunny    9      68  0

In [4]:
pred=list(all=all, female=female, male=male, young=young, adult=adult) # pred 
D = length(pred$all) + length(pred$female) + length(pred$male) + length(pred$young) + length(pred$adult) # size of the solution

In [5]:
# Evaluation Functions and Report Function: ------------------------------
source("../eval_functions.R", encoding="UTF-8")

In [6]:
# Simulated_Annealing Initial Settings: ------------------------------
lower=rep(0,D) # lower bounds
upper=rep(1,D) #  upper boundss
Runs=200 # 200 searches
solution=upper
obj2Solution=lower

## Objetivo 1

In [7]:
# Simulated Annealing Objective 1: ------------------------------
evalN = function(x) -profitObj1(x)

bestR= -Inf  
for(i in 1:Runs)
{
    # slight change of a real par under a normal u(0,0.3) function:
    rchange2=function(par)
    { hchange(par,lower=lower,upper=upper,rnorm,mean=0,sd=0.3,round=TRUE) }
    sa= optim(solution,fn=evalN,method="SANN", gr=rchange2, control=list(maxit=100,temp=10,tmax=1))
      
    L=abs(sa$value)
    if(L>bestR){
        BESTSA=sa;
        bestR=L;}
}
    
cat("Best Solution", BESTSA$par, "Best Profit:", abs(BESTSA$value))
results = round(BESTSA$par)

Best Solution 0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 0 0 1 1 1 1 1 0 0 0 0 1 1 1 1 1 1 1 1 1 Best Profit: 2234.58

In [8]:
formatCampaigns(pred, results, days)
totalSales <- sum(sales(pred, results))
totalCosts <- sum(costs(pred, results))
cat("Total Sales:", totalSales, "€\n")
cat("Total Costs: -", totalCosts, "€\n")
cat("Total Profit:", totalSales - totalCosts, "€")

  campaign domingo    segunda-feira terça-feira quarta-feira quinta-feira
1 all      N/A        N/A           N/A         N/A          N/A
2 female   + 148.87 \200 N/A           N/A         + 114.55 \200   + 115.59 \200
3 male     + 67.3 \200   N/A           N/A         + 31.6 \200     + 41.96 \200
4 young    + 7.2 \200    N/A           N/A         N/A          N/A
5 adult    + 155.28 \200 + 72.36 \200     + 60.36 \200   + 113.4 \200    + 123 \200
  sexta-feira sábado
1 N/A         + 207.37 \200
2 + 136.91 \200  + 226.22 \200
3 + 55.89 \200   + 107.69 \200
4 -2.36 \200     + 55.75 \200
5 + 146.28 \200  + 249.36 \200

Total Sales: 4974.58 €
Total Costs: - 2740 €
Total Profit: 2234.58 €

## Objetivo 2

In [9]:
# Simulated Annealing Objective 2: ------------------------------
evalN = function(x) -profitObj2(x)

bestR= -Inf  
for(i in 1:Runs)
{
    # slight change of a real par under a normal u(0,0.3) function:
    rchange2=function(par)
    { hchange(par,lower=lower,upper=upper,rnorm,mean=0,sd=0.3,round=TRUE) }
    # in this case, we are giving lower (obj2Solution) as the initial solution
    sa= optim(obj2Solution,fn=evalN,method="SANN", gr=rchange2, control=list(maxit=100,temp=10,tmax=1))
      
    L=abs(sa$value)
    if(L>bestR){
        BESTSA=sa;
        bestR=L;}
}
    
cat("Best Solution", repairMethod(round(BESTSA$par)), "Best Profit:", abs(BESTSA$value))
results = repairMethod(round(BESTSA$par))

Best Solution 0 0 0 0 0 0 1 1 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 Best Profit: 1590.55

In [10]:
formatCampaigns(pred, results, days)
totalSales <- sum(sales(pred, results))
totalCosts <- sum(costs(pred, results))
cat("Total Sales:", totalSales, "€\n")
cat("Total Costs: -", totalCosts, "€\n")
cat("Total Profit:", totalSales - totalCosts, "€")

  campaign domingo    segunda-feira terça-feira quarta-feira quinta-feira
1 all      N/A        N/A           N/A         N/A          N/A
2 female   + 148.87 \200 N/A           N/A         + 114.55 \200   + 115.59 \200
3 male     N/A        N/A           N/A         N/A          N/A
4 young    N/A        N/A           N/A         N/A          N/A
5 adult    + 155.28 \200 N/A           N/A         + 113.4 \200    + 123 \200
  sexta-feira sábado
1 N/A         + 207.37 \200
2 + 136.91 \200  + 226.22 \200
3 N/A         N/A
4 N/A         N/A
5 N/A         + 249.36 \200

Total Sales: 3170.55 €
Total Costs: - 1580 €
Total Profit: 1590.55 €

## Objetivo 3

In [11]:
# Simulated Annealing Objective 3: ------------------------------
evalN = function(x) -profitObj3(x)

bestR= -Inf  
for(i in 1:Runs)
{
    # slight change of a real par under a normal u(0,0.3) function:
    rchange2=function(par)
    { hchange(par,lower=lower,upper=upper,rnorm,mean=0,sd=0.3,round=TRUE) }
    sa= optim(solution,fn=evalN,method="SANN", gr=rchange2, control=list(maxit=100,temp=10,tmax=1))
      
    L=abs(sa$value)
    if(L>bestR){
        BESTSA=sa;
        bestR=L;}
}
    
cat("Best Solution", BESTSA$par, "Best Profit:", abs(BESTSA$value))
results = round(BESTSA$par)
score = abs(BESTSA$value)

Best Solution 0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 0 0 1 1 1 1 0 0 0 0 0 0 1 1 1 1 1 1 1 1 Best Profit: 751.0703

In [12]:
formatCampaigns(pred, results, days)
totalSales <- sum(sales(pred, results))
totalCosts <- sum(costs(pred, results))
cat("Total Sales:", totalSales, "€\n")
cat("Total Costs: -", totalCosts, "€\n")
cat("Total Profit:", totalSales - totalCosts, "€\n")
cat("Score (70% Profit per Campaign && 30% Total Profit):", score)

  campaign domingo    segunda-feira terça-feira quarta-feira quinta-feira
1 all      N/A        N/A           N/A         N/A          N/A
2 female   + 148.87 \200 N/A           N/A         + 114.55 \200   + 115.59 \200
3 male     + 67.3 \200   N/A           N/A         + 31.6 \200     + 41.96 \200
4 young    N/A        N/A           N/A         N/A          N/A
5 adult    + 155.28 \200 + 72.36 \200     + 60.36 \200   + 113.4 \200    + 123 \200
  sexta-feira sábado
1 N/A         + 207.37 \200
2 + 136.91 \200  + 226.22 \200
3 + 55.89 \200   + 107.69 \200
4 N/A         + 55.75 \200
5 + 146.28 \200  + 249.36 \200

Total Sales: 4769.74 €
Total Costs: - 2540 €
Total Profit: 2229.74 €
Score (70% Profit per Campaign && 30% Total Profit): 751.0703