In [13]:
library(genalg)
set.seed(125)

In [2]:
df = read.csv("../../data/store.csv", header = TRUE, sep=";")
days = weekdays(as.Date(df[251:257,1]))
all = df[251:257,2]
female = df[251:257,3]
male = df[251:257,4]
young = df[251:257,5]
adult = df[251:257,6]

In [3]:
tail(df,7)

    date       all  female male young adult weather maxtemp RH maxwind
251 2013-12-15 4974 2299   2390 2680  2294  Sunny   11      83 35
252 2013-12-16 3228 1442   1606 1625  1603  Sunny   10      87 32
253 2013-12-17 3191 1427   1627 1688  1503  Rain    11      90 24
254 2013-12-18 4153 2035   1880 2208  1945  Rain    10      93  0
255 2013-12-19 4307 2043   2028 2282  2025  Rain    12      86 74
256 2013-12-20 4660 2207   2227 2441  2219  Sunny    9      69  0
257 2013-12-21 6193 2894   2967 3115  3078  Sunny    9      68  0

In [4]:
pred=list(all=all, female=female, male=male, young=young, adult=adult) # pred 
D = length(pred$all) + length(pred$female) + length(pred$male) + length(pred$young) + length(pred$adult) # size of the solution

In [5]:
# Evaluation Functions and Report Function: ------------------------------
source("../eval_functions.R", encoding="UTF-8")

In [6]:
# Genetic Algorithm Initial Settings: -------------------------
lower=rep(0,D) # lower bounds
upper=rep(1,D) #  upper bounds
popSize=100 # population size
iter=30 # maximum number of iterations
report=3

ITER<<- 1 # global variable with number of rbga iterations
# monitoring function:
traceGA=function(obj)
{ if((ITER %% report)==0) # show progress every report iterations
   { PMIN=which.min(obj$evaluations)
     cat("iter:",ITER," eval:",obj$evaluations[PMIN],"\n")
   }
   ITER<<-ITER+1
}

showbest=function(method,par,eval){ 
  cat("method:",method,"\n > par:",round(par),"\n > eval:",abs(eval),"\n") }

## Objetivo 1

In [7]:
# Genetic Algorithm Objective 1: ------------------------------
evalN = function(x) -profitObj1(x)

# call to rbga: Genetic Algorithm:
# note: you can add a monitor in the params
rga=rbga(lower,upper,popSize=popSize,evalFunc=evalN,iter=iter,monitor=traceGA) 
# get the best solution:
PMIN=which.min(rga$evaluations)
showbest("rbga",rga$population[PMIN,],rga$evaluations[PMIN])
results = round(rga$population[PMIN,])

iter: 3  eval: -1579.53
iter: 6  eval: -1809.16
iter: 9  eval: -1989
iter: 12  eval: -2104.04
iter: 15  eval: -2157.96
iter: 18  eval: -2218.06
iter: 21  eval: -2236.94
iter: 24  eval: -2236.94
iter: 27  eval: -2236.94
iter: 30  eval: -2236.94
method: rbga
 > par: 0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 0 0 1 1 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1 1
 > eval: 2236.94

In [8]:
formatCampaigns(pred, results, days)
totalSales <- sum(sales(pred, results))
totalCosts <- sum(costs(pred, results))
cat("Total Sales:", totalSales, "€\n")
cat("Total Costs: -", totalCosts, "€\n")
cat("Total Profit:", totalSales - totalCosts, "€")

  campaign domingo    segunda-feira terça-feira quarta-feira quinta-feira
1 all      N/A        N/A           N/A         N/A          N/A
2 female   + 148.87 \200 N/A           N/A         + 114.55 \200   + 115.59 \200
3 male     + 67.3 \200   N/A           N/A         + 31.6 \200     + 41.96 \200
4 young    + 7.2 \200    N/A           N/A         N/A          N/A
5 adult    + 155.28 \200 + 72.36 \200     + 60.36 \200   + 113.4 \200    + 123 \200
  sexta-feira sábado
1 N/A         + 207.37 \200
2 + 136.91 \200  + 226.22 \200
3 + 55.89 \200   + 107.69 \200
4 N/A         + 55.75 \200
5 + 146.28 \200  + 249.36 \200

Total Sales: 4876.94 €
Total Costs: - 2640 €
Total Profit: 2236.94 €

## Objetivo 2

In [9]:
# Genetic Algorithm Objective 2: ------------------------------
evalN = function(x) -profitObj2(x)

# call to rbga: Genetic Algorithm:
# note: you can add a monitor in the params
rga=rbga(lower,upper,popSize=popSize,evalFunc=evalN,iter=iter,monitor=traceGA) 
# get the best solution:
PMIN=which.min(rga$evaluations)
showbest("rbga",repairMethod(round(rga$population[PMIN,])),rga$evaluations[PMIN])
results = repairMethod(round(rga$population[PMIN,]))

iter: 33  eval: -675.83
iter: 36  eval: -813.83
iter: 39  eval: -1028.43
iter: 42  eval: -1179.32
iter: 45  eval: -1266.33
iter: 48  eval: -1438.12
iter: 51  eval: -1524.04
iter: 54  eval: -1623.43
iter: 57  eval: -1623.43
iter: 60  eval: -1623.43
method: rbga
 > par: 0 0 0 0 0 0 1 1 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1
 > eval: 1623.43

In [10]:
formatCampaigns(pred, results, days)
totalSales <- sum(sales(pred, results))
totalCosts <- sum(costs(pred, results))
cat("Total Sales:", totalSales, "€\n")
cat("Total Costs: -", totalCosts, "€\n")
cat("Total Profit:", totalSales - totalCosts, "€")

  campaign domingo    segunda-feira terça-feira quarta-feira quinta-feira
1 all      N/A        N/A           N/A         N/A          N/A
2 female   + 148.87 \200 N/A           N/A         + 114.55 \200   + 115.59 \200
3 male     N/A        N/A           N/A         N/A          N/A
4 young    N/A        N/A           N/A         N/A          N/A
5 adult    + 155.28 \200 N/A           N/A         N/A          + 123 \200
  sexta-feira sábado
1 N/A         + 207.37 \200
2 + 136.91 \200  + 226.22 \200
3 N/A         N/A
4 N/A         N/A
5 + 146.28 \200  + 249.36 \200

Total Sales: 3203.43 €
Total Costs: - 1580 €
Total Profit: 1623.43 €

## Objetivo 3

In [11]:
# Genetic Algorithm Objective 3: ------------------------------
evalN = function(x) -profitObj3(x)

# call to rbga: Genetic Algorithm:
# note: you can add a monitor in the params
rga=rbga(lower,upper,popSize=popSize,evalFunc=evalN,iter=iter,monitor=traceGA) 
# get the best solution:
PMIN=which.min(rga$evaluations)
showbest("rbga",rga$population[PMIN,],rga$evaluations[PMIN])
results = round(rga$population[PMIN,])
score = abs(rga$evaluations[PMIN])

iter: 63  eval: -624.8966
iter: 66  eval: -693.1933
iter: 69  eval: -736.4467
iter: 72  eval: -744.0417
iter: 75  eval: -746.1723
iter: 78  eval: -751.0703
iter: 81  eval: -751.0703
iter: 84  eval: -751.0703
iter: 87  eval: -751.0703
iter: 90  eval: -751.0703
method: rbga
 > par: 0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 0 0 1 1 1 1 0 0 0 0 0 0 1 1 1 1 1 1 1 1
 > eval: 751.0703

In [12]:
formatCampaigns(pred, results, days)
totalSales <- sum(sales(pred, results))
totalCosts <- sum(costs(pred, results))
cat("Total Sales:", totalSales, "€\n")
cat("Total Costs: -", totalCosts, "€\n")
cat("Total Profit:", totalSales - totalCosts, "€\n")
cat("Score (70% Profit per Campaign && 30% Total Profit):", score)

  campaign domingo    segunda-feira terça-feira quarta-feira quinta-feira
1 all      N/A        N/A           N/A         N/A          N/A
2 female   + 148.87 \200 N/A           N/A         + 114.55 \200   + 115.59 \200
3 male     + 67.3 \200   N/A           N/A         + 31.6 \200     + 41.96 \200
4 young    N/A        N/A           N/A         N/A          N/A
5 adult    + 155.28 \200 + 72.36 \200     + 60.36 \200   + 113.4 \200    + 123 \200
  sexta-feira sábado
1 N/A         + 207.37 \200
2 + 136.91 \200  + 226.22 \200
3 + 55.89 \200   + 107.69 \200
4 N/A         + 55.75 \200
5 + 146.28 \200  + 249.36 \200

Total Sales: 4769.74 €
Total Costs: - 2540 €
Total Profit: 2229.74 €
Score (70% Profit per Campaign && 30% Total Profit): 751.0703