In [2]:
source("../0.models/blind.R") # fsearch is defined here
source("../0.models/montecarlo.R")
set.seed(125)

In [3]:
df = read.csv("../../data/store.csv", header = TRUE, sep=";")

In [4]:
tail(df,7)

    date       all  female male young adult weather maxtemp RH maxwind
251 2013-12-15 4974 2299   2390 2680  2294  Sunny   11      83 35
252 2013-12-16 3228 1442   1606 1625  1603  Sunny   10      87 32
253 2013-12-17 3191 1427   1627 1688  1503  Rain    11      90 24
254 2013-12-18 4153 2035   1880 2208  1945  Rain    10      93  0
255 2013-12-19 4307 2043   2028 2282  2025  Rain    12      86 74
256 2013-12-20 4660 2207   2227 2441  2219  Sunny    9      69  0
257 2013-12-21 6193 2894   2967 3115  3078  Sunny    9      68  0

In [5]:
days = weekdays(as.Date(df[251:257,1]))
all = df[251:257,2]
female = df[251:257,3]
male = df[251:257,4]
young = df[251:257,5]
adult = df[251:257,6]

In [6]:
getResults = function (pred, solution, days) {
    s <- solution
    mat = matrix(ncol = 8, nrow = 0)
    results=data.frame(mat)
    colnames(results) <- c("campanha", days)

    init = 1
    end = 7
    if (length(pred$all)>0) {
        results[nrow(results) + 1,] = c("all",s[init:end])
        init = init + 7
        end = end + 7
    }
    if (length(pred$female)>0) {
        results[nrow(results) + 1,] = c("female",s[init:end])
        init = init + 7
        end = end + 7
    }
    if (length(pred$male)>0) {
        results[nrow(results) + 1,] = c("male",s[init:end])
        init = init + 7
        end = end + 7
    }
    if (length(pred$young)>0) {
        results[nrow(results) + 1,] = c("young",s[init:end])
        init = init + 7
        end = end + 7
    }
    if (length(pred$adult)>0) {
        results[nrow(results) + 1,] = c("adult",s[init:end])
        init = init + 7
        end = end + 7
    }
    results
}

## Objetivo 1

In [7]:
# dimension
pred=list(all=all, female=female, male=male, young=young, adult=adult)
D = length(pred$all) + length(pred$female) + length(pred$male) + length(pred$young) + length(pred$adult)
# solution=sample(c(0,1), replace=TRUE, size=D)

# evaluation function:
eval = function(x) profit(round(x))

profit=function(x) 
{ 
    s = sales(pred)
    cost = c(rep(350,length(pred$all)), rep(150,length(pred$female)), rep(100,length(pred$male)), rep(100,length(pred$young)), rep(120,length(pred$adult)))
    p=sum(x*(s-cost))
    return(p)
}

sales= function(pred)
{
    vec = c()
    if (length(pred$all)>0) {
        vec = c(vec, ifelse(pred$all<5000, pred$all*0.06, pred$all*0.09))
    }
    if (length(pred$female)>0) {
        vec = c(vec, ifelse(pred$female<1800, pred$female*0.08, pred$female*0.13))
    }
    if (length(pred$male)>0) {
        vec = c(vec, ifelse(pred$male<1800, pred$male*0.04, pred$male*0.07))
    }
    if (length(pred$young)>0) {
        vec = c(vec, ifelse(pred$young<3000, pred$young*0.04, pred$young*0.05))
    }
    if (length(pred$adult)>0) {
        vec = c(vec, ifelse(pred$adult<800, pred$adult*0.08, pred$adult*0.12))
    }
    return(vec)
}

# hill climbing search
N=10000 # 100 searches
REPORT=N/20 # report results
lower=rep(0,D) # lower bounds
upper=rep(1,D) #  upper bounds

#set.seed(125)
# slight change of a real par under a normal u(0,0.5) function:

MC=mcsearch(fn=eval, lower=lower, upper=upper, N=N, type="max")

cat("best solution:",round(MC$sol),"evaluation function",MC$eval,"\n")

best solution: 0 0 0 0 0 0 1 1 1 0 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 evaluation function 1859.38

In [8]:
getResults(pred, round(MC$sol), days)

  campanha domingo segunda-feira terça-feira quarta-feira quinta-feira
1 all      0       0             0           0            0
2 female   1       1             0           1            1
3 male     1       0             1           0            0
4 young    1       1             1           1            0
5 adult    0       1             1           1            1
  sexta-feira sábado
1 0           1
2 1           1
3 1           1
4 0           1
5 1           1

In [9]:
?mcsearch

## Objetivo 2

In [10]:
# dimension
pred=list(all=all, female=female, male=male, young=young, adult=adult)
D = length(pred$all) + length(pred$female) + length(pred$male) + length(pred$young) + length(pred$adult)
#solution=sample(c(0,1), replace=TRUE, size=D)
solution=c(rep(0,35))

# evaluation function:
eval=function(x) profit(round(x))

profit=function(x) 
{ 
    s = sales(pred)
    cost = c(rep(350,length(pred$all)), rep(150,length(pred$female)), rep(100,length(pred$male)), rep(100,length(pred$young)), rep(120,length(pred$adult)))
    p=sum(x*(s-cost))
    v=sum(x==1)
    if (v>10) {
        p=-999
    }
    return(p)
}

sales= function(pred)
{
    vec = c()
    if (length(pred$all)>0) {
        vec = c(vec, ifelse(pred$all<5000, pred$all*0.06, pred$all*0.09))
    }
    if (length(pred$female)>0) {
        vec = c(vec, ifelse(pred$female<1800, pred$female*0.08, pred$female*0.13))
    }
    if (length(pred$male)>0) {
        vec = c(vec, ifelse(pred$male<1800, pred$male*0.04, pred$male*0.07))
    }
    if (length(pred$young)>0) {
        vec = c(vec, ifelse(pred$young<3000, pred$young*0.04, pred$young*0.05))
    }
    if (length(pred$adult)>0) {
        vec = c(vec, ifelse(pred$adult<800, pred$adult*0.08, pred$adult*0.12))
    }
    return(vec)
}

# hill climbing search
N=20000 # 100 searches
REPORT=N/20 # report results
lower=rep(0,D) # lower bounds
upper=rep(1,D) #  upper bounds

#set.seed(125)
# slight change of a real par under a normal u(0,0.5) function:
MC=mcsearch(fn=eval, lower=lower, upper=upper, N=N, type="max")

cat("best solution:",round(MC$sol),"evaluation function",MC$eval,"\n")

best solution: 0 1 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 1 evaluation function 1041.43

In [11]:
getResults(pred, round(MC$sol), days)

  campanha domingo segunda-feira terça-feira quarta-feira quinta-feira
1 all      0       1             0           0            0
2 female   0       0             0           0            1
3 male     0       0             0           1            1
4 young    0       0             0           0            0
5 adult    1       0             0           1            0
  sexta-feira sábado
1 0           1
2 1           0
3 0           0
4 0           0
5 1           1

## Objetivo 3

In [12]:
# dimension
pred=list(all=all, female=female, male=male, young=young, adult=adult)
D = length(pred$all) + length(pred$female) + length(pred$male) + length(pred$young) + length(pred$adult)
solution=sample(c(0,1), replace=TRUE, size=D)

# evaluation function:
eval=function(x) profit(round(x))

profit=function(x) 
{ 
    s = sales(pred)
    cost = c(rep(350,length(pred$all)), rep(150,length(pred$female)), rep(100,length(pred$male)), rep(100,length(pred$young)), rep(120,length(pred$adult)))
    p=sum(x*(s-cost))
    v=sum(x==1)
    p2=p/v
    # nsja2
    return(p2)
}

sales= function(pred)
{
    vec = c()
    if (length(pred$all)>0) {
        vec = c(vec, ifelse(pred$all<5000, pred$all*0.06, pred$all*0.09))
    }
    if (length(pred$female)>0) {
        vec = c(vec, ifelse(pred$female<1800, pred$female*0.08, pred$female*0.13))
    }
    if (length(pred$male)>0) {
        vec = c(vec, ifelse(pred$male<1800, pred$male*0.04, pred$male*0.07))
    }
    if (length(pred$young)>0) {
        vec = c(vec, ifelse(pred$young<3000, pred$young*0.04, pred$young*0.05))
    }
    if (length(pred$adult)>0) {
        vec = c(vec, ifelse(pred$adult<800, pred$adult*0.08, pred$adult*0.12))
    }
    return(vec)
}

# hill climbing search
N=2000 # 100 searches
REPORT=N/20 # report results
lower=rep(0,D) # lower bounds
upper=rep(1,D) #  upper bounds

#set.seed(125)
# slight change of a real par under a normal u(0,0.5) function:
MC=mcsearch(fn=eval, lower=lower, upper=upper, N=N, type="max")

cat("best solution:",round(MC$sol),"evaluation function",MC$eval,"\n")

best solution: 0 0 0 0 0 0 1 1 0 1 0 1 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0 0 1 1 0 1 1 1 1 evaluation function 104.9386

In [13]:
getResults(pred, round(MC$sol), days)

  campanha domingo segunda-feira terça-feira quarta-feira quinta-feira
1 all      0       0             0           0            0
2 female   1       0             1           0            1
3 male     1       0             0           0            0
4 young    1       0             0           0            1
5 adult    1       1             0           1            1
  sexta-feira sábado
1 0           1
2 0           0
3 0           1
4 0           0
5 1           1