In [1]:
library(mco)
set.seed(125)

Warning message:
"package 'mco' was built under R version 4.1.3"

In [2]:
df = read.csv("../../data/store.csv", header = TRUE, sep=";")

In [3]:
tail(df,7)

    date       all  female male young adult weather maxtemp RH maxwind
251 2013-12-15 4974 2299   2390 2680  2294  Sunny   11      83 35
252 2013-12-16 3228 1442   1606 1625  1603  Sunny   10      87 32
253 2013-12-17 3191 1427   1627 1688  1503  Rain    11      90 24
254 2013-12-18 4153 2035   1880 2208  1945  Rain    10      93  0
255 2013-12-19 4307 2043   2028 2282  2025  Rain    12      86 74
256 2013-12-20 4660 2207   2227 2441  2219  Sunny    9      69  0
257 2013-12-21 6193 2894   2967 3115  3078  Sunny    9      68  0

In [4]:
days = weekdays(as.Date(df[251:257,1]))
all = df[251:257,2]
female = df[251:257,3]
male = df[251:257,4]
young = df[251:257,5]
adult = df[251:257,6]

In [5]:
getResults = function (pred, solution, days) {
    s <- solution
    mat = matrix(ncol = 8, nrow = 0)
    results=data.frame(mat)
    colnames(results) <- c("campanha", days)

    init = 1
    end = 7
    if (length(pred$all)>0) {
        results[nrow(results) + 1,] = c("all",s[init:end])
        init = init + 7
        end = end + 7
    }
    if (length(pred$female)>0) {
        results[nrow(results) + 1,] = c("female",s[init:end])
        init = init + 7
        end = end + 7
    }
    if (length(pred$male)>0) {
        results[nrow(results) + 1,] = c("male",s[init:end])
        init = init + 7
        end = end + 7
    }
    if (length(pred$young)>0) {
        results[nrow(results) + 1,] = c("young",s[init:end])
        init = init + 7
        end = end + 7
    }
    if (length(pred$adult)>0) {
        results[nrow(results) + 1,] = c("adult",s[init:end])
        init = init + 7
        end = end + 7
    }
    results
}

## Objetivo 3

In [6]:
pred=list(all=all, female=female, male=male, young=young, adult=adult)
D = length(pred$all) + length(pred$female) + length(pred$male) + length(pred$young) + length(pred$adult)
solution=sample(c(0,1), replace=TRUE, size=D)


eval=function(x) c(sum(round(x)), -profit(round(x)))


profit=function(x) 
{ 
  s = sales(pred)
  cost = c(rep(350,length(pred$all)), rep(150,length(pred$female)), rep(100,length(pred$male)), rep(100,length(pred$young)), rep(120,length(pred$adult)))
  p=sum(x*(s-cost))
  return(p)
}


sales= function(pred)
{
  vec = c()
  if (length(pred$all)>0) {
    vec = c(vec, ifelse(pred$all<5000, pred$all*0.06, pred$all*0.09))
  }
  if (length(pred$female)>0) {
    vec = c(vec, ifelse(pred$female<1800, pred$female*0.08, pred$female*0.13))
  }
  if (length(pred$male)>0) {
    vec = c(vec, ifelse(pred$male<1800, pred$male*0.04, pred$male*0.07))
  }
  if (length(pred$young)>0) {
    vec = c(vec, ifelse(pred$young<3000, pred$young*0.04, pred$young*0.05))
  }
  if (length(pred$adult)>0) {
    vec = c(vec, ifelse(pred$adult<800, pred$adult*0.08, pred$adult*0.12))
  }
  return(vec)
}


m=2 # there are 2 objectives
cat("real value task:\n")
G=nsga2(fn=eval,idim=D,odim=m, lower.bounds=rep(0,D),upper.bounds=rep(1,D),popsize=20,generations=1:100)


# show best individuals:
I=which(G[[100]]$pareto.optimal)
for(i in I) {
    x=round(G[[100]]$par[i,],digits=0); cat(x)
    cat(" f=(",round(eval(x)[1],2),",",abs(round(eval(x)[2],2)),")", "\n",sep="")
}


# create PDF with Pareto front evolution:
pdf(file="nsga-eval.pdf",paper="special",height=5,width=5)
par(mar=c(4.0,4.0,0.1,0.1))
I=1:100
for(i in I){ 
    G[[i]]$value[,2] <- abs(G[[i]]$value[,2])
    P=G[[i]]$value # objectives f1 and f2
  
    #color from light gray (75) to dark (1):
    COL=paste("gray",round(76-i*0.75),sep="")
    if(i==1) plot(P,xlim=c(0,35),ylim=c(0,3000), xlab="Lucro",ylab="Campanhas",cex=1,col=COL)
    Pareto=P[G[[i]]$pareto.optimal,]
  
 
    # sort Pareto according to x axis:
    points(P,type="p",pch=1,cex=1,col=COL)
    if(is.matrix(Pareto)){ # if Pareto has more than 1 point
        I=sort.int(Pareto[,1],index.return=TRUE)
        Pareto=Pareto[I$ix,]
        lines(Pareto,type="l",cex=1,col=COL)
    }
}


dev.off()

real value task:
0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 f=(3,682.95)
0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1 1 1 1 1 f=(18,2187.78)
0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 f=(5,987.1)
0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 f=(8,1393.29)
0 0 0 0 0 0 1 1 0 0 1 1 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 f=(14,1977.24)
0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 1 f=(13,1858.78)
0 0 0 0 0 0 1 1 0 0 1 1 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 1 1 1 f=(12,1844.52)
0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 1 1 1 1 f=(15,2027.93)
0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 f=(4,838.23)
0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 f=(7,1270.29)
0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 f=(6,1133.38)
0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 f=(7,1270.29)
0 0 0 0 0 0 1 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 f=(9,1508.88)
0 0 0 0 0 0 1 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 f=(9,1508.88)
0 0 0 0 0 0 1 1 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 f=(10,1623.43)
0 0 0 0 0 0 1 1 0 0 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 1 1 1 f=(11,1729.97)
0 0 0 0 0 0 1 1 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 f=(10,1623.43)
0 0 0 0 0 0 1 1 0 0 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 1 1 1 f=(11,1729.97)
0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 1 1 1 f=(16,2100.29)
0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 1 1 1 f=(16,2100.29)

png
  2

In [7]:
getResults(pred, round(G[[100]]$par[20,]), days)

  campanha domingo segunda-feira terça-feira quarta-feira quinta-feira
1 all      0       0             0           0            0
2 female   1       0             0           1            1
3 male     1       0             0           0            0
4 young    0       0             0           0            0
5 adult    1       1             1           1            1
  sexta-feira sábado
1 0           1
2 1           1
3 0           1
4 0           1
5 1           1